<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web4-customer</title>
    <link href="http://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/producerPage.html">producer</a>
        </td>
    </tr>
</table>

<h1>customer</h1>

    <form action="/customer" method="POST">

        Brand auto: <input type="text" required="required" name="brand"/><br/><br/>
        Model: <input type="text" required="required" name="model"/><br/><br/>
        LicensePlate: <input type="text" required="required" name="licensePlate"/><br/><br/>

        <hr>

        <br/><br/>
        <hr>

        <button type="submit">customer</button>

    </form>



</body>
</html>