<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web4-produser</title>

    <link href="http://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/customerPage.html">to customer!!!!!!!!!!!!1</a>
        </td>
    </tr>
</table>

<h1>producer info</h1>

<form action="/producer" method="POST">
    Brand auto: <input type="text" required="required" name="brand"/><br/><br/>
    Model: <input type="text" required="required" name="model"/><br/><br/>
    LicensePlate: <input type="text" required="required" name="licensePlate"/><br/><br/>
    Price auto: <input type="number" required="required" name="price"/><br/><br/>
        <hr>


        <br/><br/>
        <hr>
        <button type="submit">Input info for producer</button>

</form>

</body>
</html>

