<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web4-result</title>
    <link href="http://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/customerPage.html">GET - to customer</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/producerPage.html">GET - to producer</a>
        </td>
    </tr>
</table>

<p>Message: ${message}</p>



</form>




</body>
</html>